html {
  font-family: "Iowan Old Style", IowanOldStyleBTPro, Iowan, Minion, "Minion Pro", Palatino, "Palatino Linotype", serif;
}

body {
  backround: #f3f3f3;
  color: #333;
}

.content {max-width: 38rem; }

a { color: #b45; }
a:visited { color: #b45; }
a:hover {
  text-decoration: none;
  border-bottom: dotted 1px #b45;
}

#menu {
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
  background: #333;
  color: #a3a3a3;
}

#menu .brand {
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
  font-weight: 100;
}

#menu a { color: #a3a3a3; }

#menu .pure-menu ul,
#menu .pure-menu
      .menu-item-divided {
  border-top: 1px solid #a3a3a3;
}

.small-print {
  margin-top: 3em;
  padding: 0.6em 0 0.6em 0.6em; 
}

#menu .small-print a { padding: 0; }

.header {
  max-width: 38rem;
  margin: 0 auto;
  text-align: left;
}

#site-titles h1 {
  font-size: 3rem;
  float: left;
  display: inline;
}

#site-titles h2 {
  float: left;
  display: inline;
  font-style: italic;
}

#site-image {
  display: inline-block;
  margin: 1em 2em;

}

@media (max-width: 580px) {
  #site-image {
    display: block;
    float: none;
    max-width: 100%
  }
  
  #site-image img {
    display: block;
    margin: 0.5rem auto;
  }

  #site-titles {
    text-align: center;
  }
  
  #site-titles h1, #site-titles h2 {
    display: block;
    float: none;
  }
}

.header h1 {
  margin: 0.1rem 0;
  font-family: "Iowan Old Style", IowanOldStyleBTPro, Iowan, Minion, "Minion Pro", Palatino, "Palatino Linotype", serif;
  font-weight: normal;
  color: #b45;
  font-size: 2rem;
}

.header h2 {
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
  font-weight: 100;
  color: #a3a3a3;
  font-style: italic;
  font-size: 1.25rem;
}

.content article {
    margin-top: 3em;
    margin-bottom: 10em;
}

a.summary-title {
 /* font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica; */
  font-size: 1.84rem;
  /* font-weight: 600; */
  margin: 0.83em 0 0.4em 0;
  color: #666;
}

.content h2 {
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
  font-weight: 600;
  margin: 0.83em 0 0.4em 0;
  color: #b45;
}

.post-meta {
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
  font-size: 0.85rem;
  color: #666;
}

.post-meta .post-date, .post-topic {
  float: left;
  margin-right: 2rem;
}

.content p {
  color: #333;
  line-height: 1.46;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.content footer {
  font-size: 0.85rem;
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
  border-top: solid 1px #ccc;
}

code {
  font-family: TriplicateT4c, "Triplicate T4c", Consolas, Menlo, monospace;
}

pre code {
  font-size: 0.9rem;
  line-height: 1.25;
}

.prev-next-post .next, .prev {
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
}

.post-list { list-style-type: none; margin-left: 1em; padding: 0;}
.post-list li { margin-top: 1rem; line-height: 1.1}
.post-list time  {
  font-family: VerbExCond, VerbExCondWeb, Calibri, "Franklin Gothic Medium", Helvetica;
  margin-right: 0rem;
}
.post-list-link { margin-left: 1em; }


span.MathJax, div.MathJax_Display {
    font: inherit;
    background: inherit;
    border: inherit;
    color: #000;
}


table {
    font-family: 'VerbExCondWeb';
    font-weight: 100;
    font-size: 0.95rem;
    border-collapse: collapse;
    max-width: 100%;
    font-variant-numeric: tabular-nums;
}

table>caption {
    font-weight: 500;
    color: #00A5DB;
    text-align: left;
}

thead {
  border-bottom: solid 2px #b45;
}

th {
  color: #333;
  font-variant: small-caps;
  font-weight: 600;
  padding: 2px 10px;
  text-center: right;
}

tr:nth-child(even) {
  background: rgba(187, 68, 85, .15);
}

td {
    padding: 2px 5px;
}

